In [1]:
import pandas as pd 

df = pd.read_csv("test_dataset_50M.txt", header=None, sep=',')

In [4]:
print(df.head())

   0   1     2
0  0  13  2014
1  1  53  2011
2  2  18  2011
3  3   9  2010
4  4  45  2010

In [7]:
# SELECT COUNT/AVG/SUM(quantity) FROM table

print(df[1].count())
print(df[1].mean())
print(df[1].sum())

50000000
50.49345662
2524672831

In [11]:
# Filtering across uniform column
# SELECT COUNT/AVG/SUM(quantity) FROM table WHERE quantity < 50;

print(df.loc[df[1] < 50][1].count())
print(df.loc[df[1] < 50][1].mean())
print(df.loc[df[1] < 50][1].sum())

24507495
25.001444700896602
612722781

In [12]:
# Filtering across skewed column
# SELECT COUNT/AVG/SUM(quantity) FROM table WHERE year = 2010;

print(df.loc[df[2] == 2010][1].count())
print(df.loc[df[2] == 2010][1].mean())
print(df.loc[df[2] == 2010][1].sum())

12496164
50.49830964126271
631035159

In [14]:
# // Filtering across both skewed and uniform columns
# SELECT COUNT/AVG/SUM(quantity) FROM table WHERE year >= 2013
# AND QUANTITY > 10;
row = df.loc[df[1] > 10]
print(row.loc[df[2] >= 2013][1].count())
print(row.loc[df[2] >= 2013][1].mean())
print(row.loc[df[2] >= 2013][1].sum())

22507344
55.487636968626774
1248879333

In [18]:
# SELECT COUNT/AVG/SUM(quantity) FROM table GROUP BY year;
row = df.groupby(2)
print(row[1].count())
print(row[1].mean())
print(row[1].sum())

2
2010    12496164
2011     9995399
2012     2501228
2013     4995437
2014    15010414
2015     5001358
Name: 1, dtype: int64
2
2010    50.498310
2011    50.492760
2012    50.499866
2013    50.512414
2014    50.490838
2015    50.468442
Name: 1, dtype: float64
2
2010    631035159
2011    504695286
2012    126311679
2013    252331580
2014    757888380
2015    252410747
Name: 1, dtype: int64

In [24]:
# SELECT COUNT/AVG/SUM FROM table WHERE quantity < 20 GROUP BY year;

row = df[df[1] < 20]
row = row.groupby(2)
print(row[1].count())
print(row[1].mean())
print(row[1].sum())

2
2010     9997266
2011     7994916
2012     2000781
2013     3997070
2014    12008119
2015     3999479
Name: 1, dtype: int64
2
2010    60.495964
2011    60.499591
2012    60.504305
2013    60.505202
2014    60.488521
2015    60.479359
Name: 1, dtype: float64
2
2010    604794240
2011    483689148
2012    121055864
2013    241843527
2014    726353356
2015    241885927
Name: 1, dtype: int64